@media (max-width: 768px) {
    /* 공통 스타일 */
    body {
        background-color: black;
        font-family: "Commissioner", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-variation-settings:
                "slnt" 0,
                "FLAR" 0,
                "VOLM" 0;
    }

    .div1 {
        margin: 0;
        max-height: 800vh;
        margin-left: auto;
        margin-right: auto;
        background-color: black;
        color: white;
        text-align: center;
    }

    .div1 Header a {
        font-size: 40px;
        text-decoration: none;
        color: #D1003F;
    }

    /* 최신영화, 추천영화, 보관함 공통 스타일 */
    .new, .recommend, .wish {
        text-align: left;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    /* 공통 영화 리스트 스타일 */
    .new-movies, .recommend-movies, .wish-movies {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .movie {
        margin-right: 10px;
        text-align: center;
        margin-bottom: 20px;
    }

    .movie img {
        width: 120px;
        height: 20vh;
        object-fit: cover;
        border-radius: 5px;
    }

    .star {
        margin-left: 10px;
        width: 15px;
    }
}

@media (min-width: 769px) {
    body {
        background-color: black;
        font-family: "Commissioner", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-variation-settings:
                "slnt" 0,
                "FLAR" 0,
                "VOLM" 0;
    }

    .div1 {
        margin: 0;
        max-height: 800px;
        margin-left: auto;
        margin-right: auto;
        background-color: black;
        color: white;
        text-align: center;
    }

    .div1 Header a {
        font-size: 40px;
        text-decoration: none;
        color: #D1003F;
    }

    #div1_input {
        display: flex;
    }

    /* 최신영화, 추천영화, 보관함 공통 스타일 */
    .new,.recommend, .wish {
        text-align: left;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    /*.recommend {*/
    /*    text-align: left;*/
    /*    font-size: 18px;*/
    /*    font-weight: bold;*/
    /*    margin-bottom: 10px;*/
    /*    position: relative;*/
    /*    right: 30px;*/
    /*    width: 780px;*/
    /*}*/


    /* 공통 영화 리스트 스타일 */
    .new-movies, .recommend-movies, .wish-movies {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .movie {
        /*margin-right: 20px;*/
        text-align: center;
        margin-bottom: 20px;
        cursor: pointer;
    }

    .movie img {
        width: 131px;
        height: 180px;
        object-fit: cover;
        border-radius: 5px;
    }

    .recommend > .new-movies > .movie{
        width: 220px;
    }

    .star {
        margin-left: 10px;
        width: 15px;
    }

    .next-button {
        width: 20px;
        height: auto;
        margin-left: 250px;
    }
}

.search-button {
    background-color: #D1003F;
    color: white;
    width: 70px;
    height: 40px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    display: flex;
}

.search-type {
    width: 500px;
    height: 40px;
    border-radius: 10px;
    border: none;
    margin-right: 10px;
}
